.assessment-section {
  background-color: #6d36e3;
  padding: 4rem 0;
}

.section-heading {
  color: #5784ed;
  font-weight: 700;
  letter-spacing: 1px;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.5rem 0 1rem;
}

.section-intro {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #f4eaea;
}

.timeline {
  position: relative;
  padding: 2rem 0;
  margin-top: 3rem;
}

.timeline::before {
  content: "";
  position: absolute;
  width: 4px;
  background: #5784ed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  padding: 1.5rem 2rem;
  position: relative;
  width: 50%;
}

.timeline-item.left {
  left: 0;
}

.timeline-item.right {
  left: 50%;
}

.timeline-content {
  background: rgb(197, 176, 234);
  border-radius: 8px;
  padding: 1.2rem;
  position: relative;
  transition: transform 0.3s;
}

.timeline-content:hover {
  transform: translateY(-5px);
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 20px;
  height: 20px;
  background: #5784ed;
  border: 4px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item.left::after {
  right: -10px;
}

.timeline-item.right::after {
  left: -10px;
}

.feature-title {
  font-weight: 600;
  color: #333;
  font-size: 1.2rem;
}

.feature-desc {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5rem;
}

.quote-box {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #0e0f0f;
  border-left: 6px solid #5784ed;
  font-style: italic;
  font-weight: 500;
  font-size: 1.1rem;
}
